[submodule "src/lib-keycloak"]
	path = src/lib-keycloak
	url = git@gitlab.qeng.ir:qeng/libraries/lib-keycloak.git
[submodule "src/lib-redis"]
	path = src/lib-redis
	url = git@gitlab.qeng.ir:qeng/libraries/lib-redis.git
[submodule "src/lib-models"]
	path = src/lib-models
	url = git@gitlab.qeng.ir:qeng/libraries/lib-models.git
